/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Basic css */

* {
    margin: 0;
    padding: 0;
   

}

body {
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(63, 63, 63);
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* Menu Bar Start */

#header,
#hero-bar {
    background: #2D25A0;
}

#header .container {
    width: 1164px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header .container menu {
    padding-top: 42px;
    display: flex;
    justify-content: space-between;
}

#header .container nav {}

#header .container menu button {
    display: none;
}

#header .container menu ul li {
    list-style: none;
    display: inline;
}

#header .container menu ul li a {
    text-decoration: none;
    padding-right: 20px;
    color: #ddd;
    font-size: 16px;
    transition: .3s linear;
}

#header .container menu ul li a:hover {
    color: #E02C6D;
}

#header .container menu ul li:hover {
    transform: scale(110%);
}

#header .container menu .login {
    background: #E02C6D;
    padding: 10px 24px;
}

#header .container menu .login .fas {
    color: #ddd;
    font-size: 12px;
}

#header .container menu .login .text {
    color: #ddd;
    font-size: 16px;
}

/* Hero Section */

#hero-bar {
    padding-top: 67px;
}

#hero-bar .container {
    width: 1164px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#hero-bar .container .main-bar {
    display: flex;
}
#hero-bar .container .main-bar .wrap{
    
}

#hero-bar .container .main-bar .left-side,
#hero-bar .container .main-bar .right-side {
    width: 50%;
}

#hero-bar .container .main-bar .left-side {
    padding-bottom: 240px;

}

#hero-bar .container .main-bar .left-side h2 {
    font-size: 64px;
    color: #fff;
    margin-bottom: 37px;
    line-height: 80px;
}

#hero-bar .container .main-bar .left-side .root-btn {
    display: inline-block;
    transition: transform .5s linear;
}

#hero-bar .container .main-bar .left-side .root-btn a {
    background: #E02C6D;
    padding: 14px 24px;
    color: #fff;
    line-height: 24px;
    font-size: 16px;
    border: 2px solid #E02C6D;
    transition: background .3s linear;
}

#hero-bar .container .main-bar .left-side .root-btn:hover {
    transform: scale(110%);
}

#hero-bar .container .main-bar .left-side a:hover {
    background: #e02c6e00;
}

#hero-bar .container .main-bar .left-side i {
    margin-left: 5px;
}

#hero-bar .container .main-bar .right-side {}

#hero-bar .container .main-bar .right-side img {
    position: relative;
    animation: forImg 3s linear alternate-reverse infinite;
}

@keyframes forImg {
    0% {
        top: -20px;
    }

    100% {
        top: 20px;
    }
}

/* Blog Section */

#blog-section {
    margin-top: 70px;
}

#blog-section .container {
    width: 1053px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#blog-section .container article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
}

#blog-section .container .blog {}

#blog-section .container .card {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

#blog-section .container .blog img {
    width: 300px;
    height: 256px;
    transition: .3s linear;
    cursor: pointer;
}

#blog-section .container .blog img:hover {
    transform: scale(102%);
}

#blog-section .container .blog h2 {
    color: #18191F;
    font-size: 28px;
    font-weight: bold;
}

#blog-section .container .blog p {
    color: #6C6C6C;
    font-size: 16px;
}

/* consulting */
#consulting{
    background: #2D25A0;
    margin-top: 120px;
    padding: 100px 0;
   
}
#consulting .container{
    width: 1164px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
#consulting .container .left-side{
   width: 70%;
}
 
#consulting .container .left-side h2{
  color: #ddd;
}
#consulting .container .right-side{
  transition:transform .3s linear ;
  margin-top: 6px;
}
#consulting .container .right-side .btn{
    margin-top: 10px;
  color: #fff;
  background: #E02C6D;
  border: 2px solid #E02C6D;
  padding: 20px 40px;
  border-radius: 20px;
  transition: .3s linear;
}
#consulting .container .right-side .btn:hover{
  color: #fff;
  background: #e02c6e00;
}
#consulting .container .right-side:hover{
  transform: scale(110%);
}

/* Highlights page */

#Highlights {
    margin-top: 165px;
}
#Highlights .container {
    width: 1164px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Highlights .container .main-body{
   display: flex;
 
}
#Highlights .container .left-side,
#Highlights .container .left-side {
    width: 50%;
}
#Highlights .container .left-side h2 {
   margin-top: 71px;
   color: #0A0826;
   font-size: 48px;
   line-height: 60px;
}
#Highlights .container .left-side p {
   color: #6C6C6C;
   font-size: 16px;
}
#Highlights .container .left-side .root-btn {
    display: inline-block;
    transition: transform .5s linear;
    margin-top: 36px;
}

#Highlights .container .left-side .root-btn a {
    background: #E02C6D;
    padding: 14px 24px;
    color: #fff;
    line-height: 24px;
    font-size: 16px;
    border: 2px solid #E02C6D;
    transition: background .3s linear;
}

#Highlightsbar .container .left-side .root-btn:hover {
    transform: scale(110%);

    
}

#Highlights .container  .left-side a:hover {
    background: #e02c6e00;
    color: rgb(58, 58, 58);
}

#Highlights .container  .left-side i {
    margin-left: 5px;
}
#Highlights .container  .right-side {
    padding-left: 66px;
}
#Highlights .container  .right-side img{
    width: 567px;
    height: 427px;
}

/* Contact form */

#contact{
    background: #2D25A0;
    margin-top: 60px;
    padding: 100px 0;
}
#contact .container{
    width: 1164px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#contact .container .left-side{
    width: 50%;
   padding-right: 50px;
}
#contact .container .left-side .text-1{
   font-size: 45px;
   color: #fff;
}
#contact .container .left-side .text-2{
   font-size: 25px;
   color: #fff;
}
#contact .container .left-side .text-3{
   font-size: 15px;
   color: #fff;
   margin-top: 20px;
}
#contact .container .left-side .text-4{
   font-size: 15px;
   color: rgb(143, 143, 143);
   margin-top: 30px;
}
#contact .container .left-side .text-5{
   font-size: 15px;
   color: rgb(143, 143, 143);
}
#contact .container .right-side{
   width: 50%;
}
#contact .container .right-side .text{
   font-size: 35px;
   margin-bottom: 10px;
   color: #fff;  
}
#contact .container .right-side input,
#contact .container .right-side textarea {
   display: block;
   background: #0a0826bf;
   padding: 10px 20px;
   margin-bottom: 10px;
   color: #fff;

}
#contact .container .right-side textarea {
  margin-bottom: 20px;

}
#contact .container .right-side .btn{
    font-size: 15px;
    background: #E02C6D;  
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #E02C6D;
    border-radius: 10px;
    transition: .3s linear;

 }
#contact .container .right-side .btn:hover{
    background: #e02c6e00;  
 }

/* Footer Bar */

#footer{
   margin-top: 120px; 
}
#footer .container{
    width: 1164px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#footer .container .main-body{
    text-align: center;
}
#footer .container .main-body img{
   display: inline-block;
   
}
#footer .container .main-body .fab{
    margin-top: 20px;
  padding: 0 7px;
  color: rgb(124, 124, 124);
  transition: .3s linear;
  margin-bottom:20px;
   
}
#footer .container .main-body .fab:hover{
  color: #E02C6D;
  transform: scale(125%);
}
#footer .container .main-body h3{
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 63px;

}



/* Media query */

@media screen and (max-width:991px){

    
    #header .container {
        width: 991px !important;
    }
    #header .container menu {
        
    }
    #header .container menu ul {
        display: none;
    }
    #header .container menu button {
        display: block;
        font-size: 20px;
        padding: 10px 15px;
        margin-left: 70px;
        margin-right: 46px;
    }
    .container .main-bar {
       
    }
    #hero-bar .container {
        width: 991px;

    }
    #hero-bar .container .main-bar .left-side h2 {
        font-size: 45px;
        color: #fff;
        margin-bottom: 37px;
        line-height: 56px;
        margin-left: 70px;
    }
    #hero-bar .container .main-bar .left-side .root-btn {
        margin-left: 70px;
    }
    #hero-bar .container .main-bar .right-side {
        margin-right: 173px;
    }
    #hero-bar .container .main-bar .right-side img {
        width: 90%;
    }
    #header .container menu .login {
        background: #E02C6D;
        padding: 10px 24px;
        margin-right: 79px;
    }
    #blog-section .container {
        width: 991px;
    }
    #blog-section .container article {
        grid-template-columns: repeat(2, 1fr);
    }
    #blog-section .container .blog {
        padding-left: 50px;
        margin-right: 148px;
    }
    #Highlights .container {
        width: 991px;
    }
    #Highlights .container .left-side h2 {
        margin-top: 71px;
        color: #0A0826;
        font-size: 32px;
        line-height: 44px;
        margin-left: 48px;
    }
    #Highlights .container .left-side, #Highlights .container .left-side {
        width: 37%;
    }
    #Highlights .container .left-side p {
        margin-left: 48px;
    }
    #Highlights .container .left-side .root-btn {
        margin-left: 48px;
    }
    #Highlights .container .right-side img {
        width: 71%;
        height: auto;
    }
    #logo .container {
        width: 991px;
    }

    }




    @media screen and (max-width:767px){
        #header .container menu {
            width: 767px !important;
        }
        #header .container {
            width: 767px !important;
        }
        #blog-section .container article {
            grid-template-columns: repeat(1, 1fr);
        }
        #hero-bar .container {
            width: 767px;
        }
        #hero-bar .container .main-bar {
            display: block;
        }
        #header .container menu button {
            margin-left: 36px;
        }
        #hero-bar .container .main-bar .right-side img {
            width: 72%;
            margin-left: 11px;
        }
        #hero-bar .container .main-bar .left-side {
            padding-bottom: 84px;
        }
        #hero-bar .container .main-bar .right-side {
            margin-right: 173px;
            padding-bottom: 50px;
        }
        #hero-bar .container .main-bar .left-side h2 {
            font-size: 47px;
            color: #fff;
            margin-bottom: 37px;
            line-height: 52px;
            margin-left: 38px;
        }
        #hero-bar .container .main-bar .left-side .root-btn {
            margin-left: 40px;
        }
        #blog-section .container {
            width: 767px;
        }
        #blog-section .container .blog {
            padding-left: 50px;
            margin-right: 0;
        }
        #blog-section .container .blog {
            padding-left: 50px;
            padding-right: 50px;
            margin-right: 0;
        }
        #Highlights .container {
            width: 767px;
        }
        #Highlights .container .main-body {
            display: block;
        }
        #Highlights .container .left-side h2 {
            margin-top: -78px;
            color: #0A0826;
            font-size: 32px;
            line-height: 44px;
            margin-left: 48px;
        }
        #Highlights .container .left-side, #Highlights .container .left-side {
            width: 100%;
        }
        #Highlights .container .left-side .root-btn {
            display: inline-block;
            transition: transform .5s linear;
            margin-top: 45px;
            margin-bottom: 55px;
        }
        #Highlights .container .right-side {
            padding-left: 46px;
        }
        #Highlights .container .right-side img {
            width: 91%;
            height: auto;
        }
        #logo .container {
            width: 767px;
        }
    /* ---------------------- */

    @media only screen and (max-width:601px){
        #header .container {
            width: 600px !important;
        }
        #header .container menu .login {
            background: #E02C6D;
            padding: 10px 24px;
            margin-right: 25px;
        }
        #header .container menu {
            width: 600px !important;
        }
        #hero-bar .container {
            width: 600px;
        }
        #hero-bar .container .main-bar .left-side, #hero-bar .container .main-bar .right-side {
            width: 100%;
        }
        #hero-bar .container .main-bar .left-side h2 {
            font-size: 36px;
            color: #fff;
            margin-bottom: 37px;
            line-height: 45px;
            margin-left: 35px;
        }
        #hero-bar .container .main-bar .right-side img {
            width: 88%;
            margin-left: 18px;
        }
        #blog-section .container {
            width: 600px;
        }
        #blog-section .container .blog {
            padding-left: 22px;
            padding-right: 23px;
            margin-right: 0;
        }
        
        #consulting {
            background: #2D25A0;
            margin-top: 73px;
            padding: 100px 0;
        }
        #consulting .container {
            width: 600px;
            display: block;
            text-align: center;
        }
        #consulting .container .left-side {
            width: 100%;
             margin-top: -42px;
            
        }
        #consulting .container .right-side .btn {
            margin-top: 10px;
            color: #fff;
            background: #E02C6D;
            border: 2px solid #E02C6D;
            padding: 11px 26px;
            border-radius: 20px;
            transition: .3s linear;
        }
        #consulting .container .right-side {
            transition: transform .3s linear;
            margin-top: 42px;
        }
        #contact {
            background: #2D25A0;
            margin-top: 60px;
            padding: 73px 0;
        }
        #contact .container {
            width: 600px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #contact .container .left-side {
            width: 100%;
            padding-right: 0;
            text-align: center;
        }
        #contact .container .right-side {
            width: 100%;
        }
        #contact .container .left-side .text-3 {
            font-size: 15px;
            color: #fff;
            margin-top: 20px;
            padding: 0 24px;
        }
        #contact .container .right-side .text {
            font-size: 23px;
            margin-bottom: 10px;
            color: #fff;
            margin-top: 30px;
        }
        #contact .container .right-side .wrap {
            text-align: center;
        }
        #contact .container .right-side input, #contact .container .right-side textarea {
            
            margin-left: auto;
            margin-right: auto;
        }

        #Highlights .container {
            width: 600px;
        }
        #Highlights .container .left-side h2 {
            margin-top: -90px;
            color: #0A0826;
            font-size: 27px;
            line-height: 39px;
            margin-left: 31px;
        }
        #Highlights .container .left-side p {
            margin-left: 31px;
        }
        #Highlights .container .left-side p {
            margin-left: 31px;
            margin-right: 48px;
        }
        #Highlights .container .left-side .root-btn {
            margin-left: 32px;
        }
        #Highlights .container .right-side {
            padding: 0 30px;
        }
        #footer .container {
            width: 600px;
        }
        #footer {
            margin-top: 80px;
        }
        #footer .container .main-body img {
            width: 60%;
        }
    }

    
    /* ---------------------- */

    @media only screen and (max-width:376px){
        #header .container {
            width: 375px !important;
        }
        #header .container menu .login {
            background: #E02C6D;
            padding: 10px 24px;
            margin-right: 25px;
        }
        #header .container menu {
            width: 375px !important;
        }
        #hero-bar .container {
            width: 375px;
        }
        #hero-bar .container .main-bar .left-side, #hero-bar .container .main-bar .right-side {
            width: 100%;
        }
        #hero-bar .container .main-bar .left-side h2 {
            font-size: 36px;
            color: #fff;
            margin-bottom: 37px;
            line-height: 45px;
            margin-left: 35px;
        }
        #hero-bar .container .main-bar .right-side img {
            width: 88%;
            margin-left: 18px;
        }
        #blog-section .container {
            width: 375px;
        }
        #blog-section .container .blog {
            padding-left: 22px;
            padding-right: 23px;
            margin-right: 0;
        }
        
        #consulting {
            background: #2D25A0;
            margin-top: 73px;
            padding: 100px 0;
        }
        #consulting .container {
            width: 375px;
            display: block;
            text-align: center;
        }
        #consulting .container .left-side {
            width: 100%;
             margin-top: -42px;
            
        }
        #consulting .container .right-side .btn {
            margin-top: 10px;
            color: #fff;
            background: #E02C6D;
            border: 2px solid #E02C6D;
            padding: 11px 26px;
            border-radius: 20px;
            transition: .3s linear;
        }
        #consulting .container .right-side {
            transition: transform .3s linear;
            margin-top: 42px;
        }
        #contact {
            background: #2D25A0;
            margin-top: 60px;
            padding: 73px 0;
        }
        #contact .container {
            width: 375px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #contact .container .left-side {
            width: 100%;
            padding-right: 0;
            text-align: center;
        }
        #contact .container .right-side {
            width: 100%;
        }
        #contact .container .right-side .text {
            font-size: 23px;
            margin-bottom: 10px;
            color: #fff;
            margin-top: 30px;
        }
        #contact .container .right-side .wrap {
            text-align: center;
        }
        #contact .container .right-side input, 
        #contact .container .right-side textarea
        {
            
            margin-left: auto;
            margin-right: auto;
        }


        #Highlights .container {
            width: 375px;
        }
        #Highlights .container .left-side h2 {
            margin-top: -90px;
            color: #0A0826;
            font-size: 27px;
            line-height: 39px;
            margin-left: 31px;
        }
        #Highlights .container .left-side p {
            margin-left: 31px;
        }
        #Highlights .container .left-side p {
            margin-left: 31px;
            margin-right: 48px;
        }
        #Highlights .container .left-side .root-btn {
            margin-left: 32px;
        }
        #Highlights .container .right-side {
            padding: 0 30px;
        }
        #footer .container {
            width: 375px;
        }
        #footer {
            margin-top: 80px;
        }
        #footer .container .main-body img {
            width: 60%;
        }
    }
